html
  head
    title= 'PeopleNetwork'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css',
                           integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh',
                           crossorigin= 'anonymous')
    style
      include style.css
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
    script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
    script!= "localStorage.setItem('reloadSign', '0')"
  body
    h1= 'Авторизация'
    a(href='/signUp') Регистрация
br
br
br
p Введите логин и пароль для входа в систему
br
form(method='POST' action='/register')
    div.block
      span.innerlabel Логин
      span.innerinput
        input.text-lowercase(
            type='text'
            name='login'
            )

    div.block
      span.innerlabel Пароль
      span.innerinput
        input.text-lowercase(
            type='password'
            name='password'
            )
    br
    br

    button.btn.btn-primary(type='submit') Войти