html
  head
    title= 'PeopleNetwork'
    style
      include style.css
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
    script(src='https://getbootstrap.com/docs/4.4/dist/js/bootstrap.bundle.min.js')
    script(src='../../wsclient.js')
  body
    h1= 'Лента новостей'
    a(href='/' ) Назад на мою страницу

  br
  br

  form(method='POST' action='/createNews')
    br
    div.block
        span.innerlabel Topic
        span.innerinput
            input.text(
                type='text'
                name='newstopic_tocreate'
            )

    div.block
        span.innerlabel Новость
        span.innerinput
            input.text(
                type='text'
                name='newitem_tocreate'
                )
    input.text(
        type='hidden'
        name='myLogin'
        value= `${myLogin}`
        )
    button.btn.btn-primary(type='submit') Создать новость


  div.placeNews

script!= "var items = (function() { return JSON.parse(localStorage.getItem('lenta')); })(); var stringHtml = ''; for (var i = 0; i < items.length; i++) { stringHtml +='<br>' + (i+1)+ '. Тема:  ' +  items[i].Topic + ' Сообщение: ' + items[i].Item; }; document.getElementsByClassName('placeNews')[0].innerHTML = stringHtml;"


